<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    <log4net outdate_days="1">
      <root>
        <!--<level value="all" />
        <appender-ref ref="RollingLogFileAppender" />-->
      </root>

      <!--异常信息日志类-->
      <logger name="error">
        <!-- 日志权限-->
        <level value="all" />
        <!--写日志方式-->
        <appender-ref ref="RollingErrorFileAppender" />
      </logger>
      <!--系统日志附加介质-->
      <appender name="RollingErrorFileAppender" type="log4net.Appender.RollingFileAppender">
        <!--相对路径&&绝对路径-->
        <param name="File" value="Log\Error/" />
        <param name="AppendToFile" value="true" />
        <!--单个日志文件最大的大小-->
        <param name="maximumFileSize" value="5MB" />
        <!--备份文件的个数-->
        <param name="MaxSizeRollBackups" value="100" />
        <!-- 是否使用静态文件名-->
        <param name="StaticLogFileName" value="false" />
        <!-- 日志文件名-->
        <param name="DatePattern" value="yyyy-MM/MM-dd/yyyy-MM-dd'.log'" />
        <param name="RollingStyle" value="Composite" />
        <layout type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%n【日志时间】：%d %n【日志级别】：%-5p  %n【日志内容】：%m%n" />
          <!-- 【日志时间】：%d %n【日志级别】：%-5p  %n【日志内容】：%m%n%n -->
        </layout>
      </appender>

      <!--普通输出调用日志类-->
      <logger name="INFO">
        <!-- 日志权限-->
        <level value="all" />
        <!--写日志方式-->
        <appender-ref ref="RollingInfoFileAppender" />
      </logger>
      <!--MES接口调用日志附加介质-->
      <appender name="RollingInfoFileAppender" type="log4net.Appender.RollingFileAppender">
        <!--相对路径&&绝对路径-->
        <param name="File" value="Log\Info/" />
        <param name="AppendToFile" value="true" />
        <!--单个日志文件最大的大小-->
        <param name="maximumFileSize" value="5MB" />
        <!--备份文件的个数-->
        <param name="MaxSizeRollBackups" value="100" />
        <!-- 是否使用静态文件名-->
        <param name="StaticLogFileName" value="false" />
        <!-- 日志文件名-->
        <param name="DatePattern" value="yyyy-MM/MM-dd/yyyy-MM-dd'.log'" />
        <param name="RollingStyle" value="Composite" />
        <layout type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%n【日志时间】：%d %n【日志级别】：%-5p  %n【日志内容】：%m%n" />
          <!-- 【日志时间】：%d %n【日志级别】：%-5p  %n【日志内容】：%m%n%n -->
        </layout>
      </appender>

      <!--Debug调用日志类-->
      <logger name="debug">
        <!-- 日志权限-->
        <level value="all" />
        <!--写日志方式-->
        <appender-ref ref="RollingDebugFileAppender" />
      </logger>
      <!--MES接口调用日志附加介质-->
      <appender name="RollingDebugFileAppender" type="log4net.Appender.RollingFileAppender">
        <!--相对路径&&绝对路径-->
        <param name="File" value="Log\Debug/" />
        <param name="AppendToFile" value="true" />
        <!--单个日志文件最大的大小-->
        <param name="maximumFileSize" value="5MB" />
        <!--备份文件的个数-->
        <param name="MaxSizeRollBackups" value="100" />
        <!-- 是否使用静态文件名-->
        <param name="StaticLogFileName" value="false" />
        <!-- 日志文件名-->
        <param name="DatePattern" value="yyyy-MM/MM-dd/yyyy-MM-dd'.log'" />
        <param name="RollingStyle" value="Composite" />
        <layout type="log4net.Layout.PatternLayout">
          <param name="ConversionPattern" value="%n【日志时间】：%d %n【日志级别】：%-5p  %n【日志内容】：%m%n" />
          <!-- 【日志时间】：%d %n【日志级别】：%-5p  %n【日志内容】：%m%n%n -->
        </layout>
      </appender>

    </log4net>
  </startup>
</configuration>
