@{
    Layout = "~/Views/Shared/_AdaptionLayout.cshtml";
}
<div class="jumbotron">
    <div class="container">
        ...
    </div>
</div>
@section style {
    <!-- Custom Theme Style -->
    <link href="@Url.Content("~/static/css/custom.css")" rel="stylesheet">
    <style>
        .x_title h2 small {
            font-size: 15px
        }

        .pagination {
            margin: 0px
        }
    </style>
}
