<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <!-- Rem : If used via a DataAccess context, properties tag will be ignored 
  <properties resource="../../database.config"/> -->
  <properties embedded="database.config, Com.Colin.DataAccess"/>
  <settings>
    <setting useStatementNamespaces="${useStatementNamespaces}"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  <!-- Optional if resource -->
  <providers embedded="providers.config, Com.Colin.DataAccess"/>
  <!-- ==== SqlClient configuration =========	-->
  <!-- Rem : If used via a DataAccess context, database tag will be ignored -->
  <database>
    <!-- Optional ( default ) -->
    <provider name="sqlServer1.1"/>
    <dataSource name="iBatisNet" connectionString="Data Source=${datasource}; Initial Catalog=${database}; Integrated Security=${integratedSecurity}; uid=${userid};password=${password};connection reset=false; connection lifetime=5; min pool size=1; max pool size=50; Encrypt=False; TrustServerCertificate=True; ApplicationIntent=ReadWrite; MultiSubnetFailover=False"/>
  </database>

  <sqlMaps>
    <!-- user via embedded-->
    <sqlMap embedded="Maps.Animal.xml, Com.Colin.DataAccess"/>
  </sqlMaps>
</sqlMapConfig>
