<form nz-form [formGroup]="validateForm">
  <div nz-row > 
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="Title">规则名称</nz-form-label> 
        <nz-form-control [nzSm]="18" [nzXs]="18">
          <input nz-input formControlName="Title" [(ngModel)]="Title" id="Title">
          <nz-form-explain *ngIf="validateForm.get('Title').dirty && validateForm.get('Title').errors">
              <ng-container *ngIf="validateForm.get('Title').hasError('required')">
                名称不为空！
              </ng-container>
              <ng-container *ngIf="validateForm.get('Title').hasError('maxlength')">
                名称字符串长度不能超过500！
              </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired >打卡时间</nz-form-label> 
        <nz-form-control [nzSm]="18" [nzXs]="18">
          <button nz-button [nzType]="'primary'" style="margin-left: 0px;" (click)="add()">添加</button>
          {{WorkStartText}}-{{RestStartText}}
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24"  nzFor="Week">节假日</nz-form-label> 
        <nz-form-control [nzSm]="18" [nzXs]="18">
          <input nz-input formControlName="Week" [(ngModel)]="Week" id="Week" nzPlaceHolder="示例：20170301|20170405（以|隔开）">
          <nz-form-explain *ngIf="validateForm.get('Week').dirty && validateForm.get('Week').errors">
              <ng-container *ngIf="validateForm.get('Week').hasError('maxlength')">
                名称字符串长度不能超过1000！
              </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired>提醒</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
          <div nz-col [nzXs]="24">
              <div nz-col [nzLg]="2" [nzMd]="4" [nzSm]="4" [nzXs]="24" style="text-align: right">上班：</div>
              <div nz-col  [nzLg]="22" [nzMd]="20" [nzSm]="20" [nzXs]="24">
                <nz-select id="WorkRemind" [(ngModel)]="WorkRemind" formControlName="WorkRemind" style="width: 100%">
                  <nz-option nzLabel="提前5分钟" nzValue="5"></nz-option>
                  <nz-option nzLabel="提前10分钟" nzValue="10"></nz-option>
                  <nz-option nzLabel="提前15分钟" nzValue="15"></nz-option>
                  <nz-option nzLabel="准点" nzValue="0"></nz-option>
                </nz-select>
              </div>
          </div>
          <div nz-col [nzXs]="24">
              <div nz-col [nzLg]="2" [nzMd]="4" [nzSm]="4" [nzXs]="24" style="text-align: right">下班：</div>
              <div nz-col  [nzLg]="22" [nzMd]="20" [nzSm]="20" [nzXs]="24">
                <nz-select id="RestRemind" [(ngModel)]="RestRemind" formControlName="RestRemind" style="width: 100%">
                  <nz-option nzLabel="提前5分钟" nzValue="5"></nz-option>
                  <nz-option nzLabel="提前10分钟" nzValue="10"></nz-option>
                  <nz-option nzLabel="提前15分钟" nzValue="15"></nz-option>
                  <nz-option nzLabel="准点" nzValue="0"></nz-option>
                </nz-select>
              </div>
          </div>
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired>允许范围</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
          <div nz-col [nzXs]="24">
              <div nz-col [nzLg]="2" [nzMd]="4" [nzSm]="4" [nzXs]="24" style="text-align: right">上班：</div>
              <div nz-col [nzLg]="22" [nzMd]="20" [nzSm]="20" [nzXs]="24">
                <nz-select id="WorkAllowTime" [(ngModel)]="WorkAllowTime" formControlName="WorkAllowTime" style="width: 100%">
                  <nz-option nzLabel="迟到5分钟" nzValue="5"></nz-option>
                  <nz-option nzLabel="迟到10分钟" nzValue="10"></nz-option>
                  <nz-option nzLabel="迟到15分钟" nzValue="15"></nz-option>
                  <nz-option nzLabel="准点" nzValue="0"></nz-option>
                </nz-select>
              </div>
          </div>
          <div nz-col [nzXs]="24">
              <div nz-col [nzLg]="2" [nzMd]="4" [nzSm]="4" [nzXs]="24" style="text-align: right">下班：</div>
              <div nz-col  [nzLg]="22" [nzMd]="20" [nzSm]="20" [nzXs]="24">
                <nz-select id="RestAllowTime" [(ngModel)]="RestAllowTime" formControlName="RestAllowTime" style="width: 100%">
                  <nz-option nzLabel="提前5分钟" nzValue="5"></nz-option>
                  <nz-option nzLabel="提前10分钟" nzValue="10"></nz-option>
                  <nz-option nzLabel="提前15分钟" nzValue="15"></nz-option>
                  <nz-option nzLabel="准点" nzValue="0"></nz-option>
                </nz-select>
              </div>
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired>打卡地点</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-select id="AllowAddress" [(ngModel)]="AllowAddress" formControlName="AllowAddress" style="width: 100%">
              <nz-option nzLabel="100米范围" nzValue="100"></nz-option>
              <nz-option nzLabel="200米范围" nzValue="200"></nz-option>
              <nz-option nzLabel="300米范围" nzValue="300"></nz-option>
              <nz-option nzLabel="500米范围" nzValue="500"></nz-option>
            </nz-select>
        </nz-form-control>
      </nz-form-item>

      <!-- <nz-divider></nz-divider> -->
      <div nz-row >
        <div nz-col [nzSpan]="4"></div>
        <div nz-col [nzSpan]="18" style="border:1px solid #d9d9d9;padding-top:10px;">
          <nz-form-item>
            <div nz-row >
              <div nz-col [nzSpan]="6">
                <nz-form-control>
                    <input nz-input formControlName="Address" [(ngModel)]="Address" id="Address">
                    <nz-form-explain *ngIf="validateForm.get('Address').dirty && validateForm.get('Address').errors">
                        <ng-container *ngIf="validateForm.get('Address').hasError('maxlength')">
                          地址字符串长度不能超过500！
                        </ng-container>
                    </nz-form-explain>
                </nz-form-control>
              </div>
              <div nz-col [nzSpan]="4">
                  <button nz-button [nzType]="'primary'" (click)="searchKeyword()" style="margin-top:4px;">搜索</button>
              </div>
            </div>
            <div nz-row >
              <div nz-col [nzSpan]="6">
                <nz-form-control>
                  <input nz-input formControlName="Longitude" [(ngModel)]="Longitude" id="Longitude">
                  <nz-form-explain *ngIf="validateForm.get('Longitude').dirty && validateForm.get('Longitude').errors">
                    <ng-container *ngIf="validateForm.get('Longitude').hasError('pattern')">
                      坐标必须为浮点型！
                    </ng-container>
                  </nz-form-explain>
                </nz-form-control>
              </div>
              <div nz-col [nzSpan]="6" style="margin-left:8px;margin-bottom: 10px;">
                <nz-form-control>
                  <input nz-input formControlName="Latitude" [(ngModel)]="Latitude" id="Latitude">
                  <nz-form-explain *ngIf="validateForm.get('Latitude').dirty && validateForm.get('Latitude').errors">
                    <ng-container *ngIf="validateForm.get('Latitude').hasError('Latitude')">
                      坐标必须为浮点型！
                    </ng-container>
                  </nz-form-explain>
                </nz-form-control>
              </div>
            </div>
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="24">
                <nz-form-control>
                  <div id="map" style="height: 600px"></div>
                </nz-form-control>
              </div>
            </div>
          </nz-form-item>
        </div>
      </div>
      <nz-form-item nz-row>
        <nz-form-control [nzSpan]="24" [nzOffset]="4" style="margin-top: 10px">
          <button nz-button nzType="primary" (click)="submitForm()" style="margin-left: 0px;">提交</button>
          <a nz-button [routerLink]="['/card/set']">返回</a>
        </nz-form-control>
      </nz-form-item>

    </div>
  </div>

  <!--添加新分类-->
  <nz-modal [(nzVisible)]="IsVisible" nzTitle="考勤时间" (nzOnCancel)="cancelClose()" (nzOnOk)="okClose()" nzMaskClosable="false">
       <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired>打卡时间</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
          <div nz-col [nzSpan]="4">上班：</div>
          <div nz-col [nzSpan]="18">
            <nz-time-picker [formControlName]="'WorkStart'" [(ngModel)]="WorkStart" [nzAllowEmpty]="false" [nzMinuteStep]="5" [nzFormat]="'HH:mm'"></nz-time-picker>
          </div>
        </nz-form-control>

        <div nz-col [nzSpan]="4"></div>
        <nz-form-control [nzSm]="18" [nzXs]="24">
          <div nz-col [nzSpan]="4">下班：</div>
          <div nz-col [nzSpan]="18">
            <nz-time-picker [formControlName]="'RestStart'" [(ngModel)]="RestStart" [nzAllowEmpty]="false" [nzMinuteStep]="5" [nzFormat]="'HH:mm'"></nz-time-picker>
          </div>
        </nz-form-control>
      </nz-form-item> 
  </nz-modal>
</form>
