/* .el-breadcrumb .el-breadcrumb__inner{
  color: #4B4D52;
  font-weight: 100;
}
.el-breadcrumb .el-breadcrumb__separator{
  margin: 0 5px;
  font-weight: 100;
}
.el-table .el-table__header thead th{
  background: #E6EBF5;
  color: #3c464e;
} */
html,
body {
  background: #F2F6FC;
  height: 100%;
}

.el-footer {
  background: none;
  padding: 0;
  height: 0;
}

#nprogress .bar {
  background: #812CB2 !important;
}

#nprogress .spinner-icon {
  border-top-color: #812CB2 !important;
  border-left-color: #812CB2 !important;
}

.el-table--border th {
  background: #f9f9f9
}

@media screen and (min-width:1200px) and (max-width:1500px) {
  .el-col-lg-3 {
    width: 16.5%
  }

  .el-col-lg-21 {
    width: 83.5%
  }
}

@media screen and (min-width:1500px) and (max-width:1800px) {
  .el-col-lg-3 {
    width: 14.5%
  }

  .el-col-lg-21 {
    width: 85.5%
  }
}
