body {
  color: #5e6d82;
}

* {
  margin: 0
}

footer {
  font-size: 13px;
  color: #999;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px
}

.mt30 {
  margin-top: 30px
}

.mt40 {
  margin-top: 40px
}

.mt50 {
  margin-top: 50px
}

.org {
  margin-top: 25px;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 2px;
  color: #409EFF
}

.logo {
  width: 85px;
  margin-left: 30px
}

.siderBar {
  margin-top: 20px;
  margin-left: 20px;
  border-right: 1px solid #F2F6FC;
  min-height: 600px;
  background: white
}

.siderBar>ul {
  border-right: 0
}

.siderBar h5 {
  font-size: 14px;
  color: #8492a6;
  margin-top: 10px;
}

.main-content {
  min-height: 600px;
  margin-top: 20px;
  background: white;
  padding: 20px 30px;
  margin-right: 0px
}

.fullWidth {
  width: 100%;
  padding: 20px;
}

.muted {
  color: #999;
}

.title {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
}

.list {
  padding-top: 20px;
}

.list .row {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.list .row .content {
  font-size: 17px;
  line-height: 30px;
}
