<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="AccessData" value="/Data/data.mdb" />
    <add key="AccessConnection" value="Provider = Microsoft.Jet.OLEDB.4.0;Data Source =" />
    <add key="SqlserverConnection" value="Data Source=localhost;Initial Catalog=DoNetBbs;User ID=sa" />
    <add key="OracleConnection" value="Data Source=localhost;Initial Catalog=D8;User ID=sa" />
    <add key="ConnectionType" value="Access" />
    <!-- 
    Sqlserver 
    -->
    <add key="WebSite_PassWordType" value="Md5" />
    <add key="WebSite_DisableFormUrl" value="" />
    <add key="WebSite_Version" value="iX4R5MtnPgcWMdKBbXI4crCg5HnvVeI/QoGwp5FN59aAvTvuyl7Fb4onAaMeFWv2H5vJikU/VqU=" />
    <add key="WebSite_WebSite" value="www.baiqiansheng.com" />
    <add key="WebSite_userOnLinePoint" value="2" />
    <add key="WebSite_userJobTimeSpan" value="180" />
    <add key="WebSite_boardJobTimeSpan" value="300" />
    <add key="WebSite_webSiteJobTimeSpan" value="300" />
    <add key="WebSite_emailJobTimeSpan" value="300" />
    <add key="WebSite_refreshTimeSpan" value="180" />
    <add key="WebSite_WebSiteID" value="1" />
    <add key="WebSite_EmailHost" value="" />
    <add key="WebSite_EmailUserName" value="" />
    <add key="WebSite_EmailPassWord" value="" />
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
    <trace enabled="true" pageOutput="false" mostRecent="true" requestLimit="10" localOnly="true" traceMode="SortByTime" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5.2" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="Windows"/>-->
    <!--拒绝匿名用户访问-->
    <authentication mode="None">
      <!--
        loginUrl: 用户没有登录，跳转到的登录页面
        cookieless: 用户登录后的cookieName(可选)
        defaultUrl: 正确登录之后，在没有指向页的时候，自动跳转的页面(可选)
        authorization节点功能是拒绝匿名用户访问该文件夹目录下所有文件功能
      -->
      <!--<forms loginUrl="Login/Login.aspx" defaultUrl="index.aspx" name=".ASPXFORMSAUTH" />-->
    </authentication>
    <!--
    <authorization>
      <deny users="?" />
    </authorization>
    -->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--  全球化
          此节设置应用程序的全球化设置。
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" responseHeaderEncoding="utf-8" />
    <!--<pages enableViewState="false"/>-->
    <httpRuntime maxRequestLength="20000" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <!-- 建立模块 -->
    <!--
    <httpModules>
      <add type="Com.Colin.WebForm.SampleModule, Com.Colin.WebForm" name="SampleModule" />
    </httpModules>
    -->
    <!-- 装载处理器 -->
    <!--
    <httpHandlers>
      <add verb="*" path="prod*.aspx" type="Com.Colin.WebForm.HtmlHandler, Com.Colin.WebForm" />
    </httpHandlers>
    -->
  </system.web>
  <connectionStrings>
    <clear />
    <add name="LocalSqlServer" connectionString="data source=(localDB)\v11.0;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf" providerName="System.Data.SqlClient" />
    <add name="RoomReservationEntities" connectionString="metadata=res://*/DataAccess.MeetingRoomModel.csdl|res://*/DataAccess.MeetingRoomModel.ssdl|res://*/DataAccess.MeetingRoomModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=RoomReservation;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--
    通过外置location元素来锁定配置设置
    示例：允许匿名访问index.aspx页面
  -->
  <location path="index.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>