<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8" [style.display]="'block'">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="'SearchGroupName'">分组名称</nz-form-label>
        <nz-form-control>
          <!-- 下面的单引号不可省略，否则表单对象找不到对应的表单控件 -->
          <input nz-input [formControlName]="'SearchGroupName'" [attr.id]="'SearchGroupName'" maxlength="50">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [style.display]="'block'">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="'CreationTimeBegin'">创建时间</nz-form-label>
        <nz-form-control>
          <nz-date-picker [formControlName]="'CreationTimeBegin'" [attr.id]="'CreationTimeBegin'"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [style.display]="'block'">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="'CreationTimeEnd'">至</nz-form-label>
        <nz-form-control>
          <nz-date-picker [formControlName]="'CreationTimeEnd'" [attr.id]="'CreationTimeEnd'"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="8">
      <button nz-button [nzType]="'primary'" (click)="addGroup()">新建</button>
    </div>
    <div nz-col [nzSpan]="16" style="text-align: right;">
      <button nz-button [nzType]="'primary'" (click)="searchGroup()">搜索</button>
      <button nz-button (click)="resetForm()">清空</button>
    </div>
  </div>
</form>
<nz-table #ajaxTable [nzData]="dataSet" nzShowSizeChanger="false" [nzFrontPagination]="false" [nzLoading]="loading"
  [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="getList()">
  <thead>
    <tr>
      <th>分组名称</th>
      <th>分组类型</th>
      <th>备注</th>
      <th>分组人数</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td>{{data.GroupName}}</td>
      <td>{{data.GroupTypeDisplay=='Static'?'静态':'动态'}}</td>
      <td>{{data.GroupDetail}}</td>
      <td>{{data.UserCount}}</td>
      <td>{{data.CreationTime}}</td>
      <td [ngSwitch]="data.GroupType">
        <a href="javascript:void(0);" (click)="editGroup(data.Id,data.GroupName,data.GroupType,data.GroupDetail)">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a *ngSwitchCase="1" (click)="managerUser(data.Id)">成员管理</a>
        <a *ngSwitchCase="2" (click)="editRules(data.Id)">规则管理</a>
        <nz-divider *ngIf="data.GroupType == '1' || data.GroupType == '2'" nzType="vertical"></nz-divider>
        <a (click)="viewUser(data.Id)">查看成员</a>
        <nz-divider nzType="vertical"></nz-divider>
        <!--
        <nz-popconfirm [nzTitle]="'确认删除？'" (nzOnConfirm)="delGroup(data.Id)">
          <a nz-popconfirm>删除</a>
        </nz-popconfirm>
      -->
      <a (click)="showConfirm(data.Id);">删除</a>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isVisible" nzTitle="编辑分组" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading"
  nzMaskClosable="false">
  <div nz-row [nzGutter]="24">
  <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24"><span style="Color:red">*</span>分组类型</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24">
          <nz-radio-group [(ngModel)]="GroupType">
              <label nz-radio nzValue="1">静态分组</label>
              <label nz-radio nzValue="2">动态分组</label>
            </nz-radio-group>
            <span class="errorMsg">{{GroupTypeError}}</span>
      </nz-form-control>
  </nz-form-item>    
  <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24"><span style="Color:red">*</span>分组名称</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24">
          <input nz-input [(ngModel)]="GroupName" style="width: 70%" maxlength="50" [class.errorInput]="GroupNameError">
          <span class="errorMsg">{{GroupNameError}}</span>
      </nz-form-control>
  </nz-form-item>    
  <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24">备注</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24">
          <textarea row="6" nz-input [(ngModel)]="GroupDetail" style="width: 70%" maxlength="200"></textarea>
      </nz-form-control>
  </nz-form-item>    
</div>
</nz-modal>
<nz-modal [(nzVisible)]="ruleIsVisible" nzTitle="规则管理" (nzOnCancel)="ruleHandleCancel()" (nzOnOk)="ruleHandleOk()"
  [nzOkLoading]="ruleIsOkLoading" [nzWidth]="900" nzMaskClosable="false">
  <ng-container>
    <button nz-button [nzType]="'primary'" (click)="addRule()">添加规则</button>
  </ng-container>
  <nz-table #editRowTable nzBordered [nzData]="ruleList">
    <thead>
      <tr>
        <th nzWidth="40%">Column</th>
        <th>Condition</th>
        <th nzWidth="30%">Value</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of editRowTable.data">
        <td style="min-width: 200px;">
          <ng-container>
            <nz-select [(ngModel)]="data.Column" (ngModelChange)="fieldChange(data,true)" nzAllowClear nzPlaceHolder="请选择">
              <nz-option *ngFor="let o of fieldList" [nzValue]="o.key" [nzLabel]="o.text"></nz-option>
            </nz-select>
          </ng-container>
        </td>
        <td>
          <ng-container>
            <nz-select [(ngModel)]="data.Condition" nzAllowClear>
              <nz-option nzValue="=" nzLabel="等于"></nz-option>
              <nz-option nzValue="!=" nzLabel="不等于"></nz-option>
            </nz-select>
          </ng-container>
        </td>
        <td>
          <ng-container>
            <nz-select [(ngModel)]="data.Value" nzAllowClear nzPlaceHolder="请选择" nzMode="multiple" class="">
              <nz-option *ngFor="let o of valueList[data.Sort]" [nzValue]="o.key" [nzLabel]="o.text"></nz-option>
            </nz-select>
          </ng-container>
        </td>
        <td>
          <nz-popconfirm [nzTitle]="'确认删除？'" (nzOnConfirm)="deleteRuleRow(data.Sort)">
            <a nz-popconfirm>删除</a>
          </nz-popconfirm>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-modal>
