<!--
  内容列表模板页
  add by Colin
-->
<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8" [style.display]="'block'">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="'SearchID'">ID</nz-form-label>
        <nz-form-control>
          <!-- 下面的单引号不可省略，否则表单对象找不到对应的表单控件 -->
          <input nz-input [formControlName]="'SearchID'" [attr.id]="'SearchID'" maxlength="10">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [style.display]="'block'">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="'SearchName'">名称</nz-form-label>
        <nz-form-control>
          <input nz-input [formControlName]="'SearchName'" [attr.id]="'SearchName'" maxlength="150">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [style.display]="'block'">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="'selectedCategory'">内容分类</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="selectedCategory" nzMode="multiple" 
            nzPlaceHolder="请选择" nzAllowClear
            [formControlName]="'selectedCategory'">
            <nz-option *ngFor="let c of categoryList" [nzValue]="c.CategoryID" [nzLabel]="c.NameCn"></nz-option>
            <nz-option *ngIf="isCategoryLoading" nzDisabled nzCustomContent>
              <i class="anticon anticon-loading anticon-spin loading-icon"></i> 数据加载中...
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="24" *ngIf="isAdvancedSearch">
    <div nz-col [nzSpan]="8" [style.display]="'block'">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="'SearchCreationTimeBegin'">创建时间</nz-form-label>
        <nz-form-control>
          <nz-date-picker [formControlName]="'SearchCreationTimeBegin'" [attr.id]="'SearchCreationTimeBegin'"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [style.display]="'block'">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="'SearchCreationTimeEnd'">至</nz-form-label>
        <nz-form-control>
          <nz-date-picker [formControlName]="'SearchCreationTimeEnd'" [attr.id]="'SearchCreationTimeEnd'"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [style.display]="'block'">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="'SearchCreatorName'">创建人</nz-form-label>
        <nz-form-control>
          <input nz-input [formControlName]="'SearchCreatorName'" [attr.id]="'SearchCreatorName'" maxlength="50">
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="24" *ngIf="isAdvancedSearch">
    <div nz-col [nzSpan]="8" [style.display]="'block'">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="'SearchStatus'">状态</nz-form-label>
        <nz-form-control >
          <nz-select [(ngModel)]="selectedStatus" nzMode="multiple" 
            nzPlaceHolder="请选择" nzAllowClear
            [formControlName]="'SearchStatus'">
            <nz-option *ngFor="let c of statusList" [nzValue]="c.ID" [nzLabel]="c.StatusNameCn"></nz-option>
            <nz-option *ngIf="isStatusLoading" nzDisabled nzCustomContent>
              <i class="anticon anticon-loading anticon-spin loading-icon"></i> 数据加载中...
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!--
    <div nz-col [nzSpan]="8" [style.display]="'block'">
      <nz-form-item nzFlex>
        <nz-form-control>
          <label nz-checkbox [(ngModel)]="SearchTopOrderChecked" [formControlName]="'SearchTopOrder'" [attr.id]="'SearchTopOrder'">是否置顶</label>
        </nz-form-control>
      </nz-form-item>
    </div>
    -->
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="8"></div>
    <div nz-col [nzSpan]="16" style="text-align: right;">
      <a (click)="showSearch()">{{isAdvancedSearch?'快捷检索':'高级检索'}} <i class="anticon anticon-down"></i></a>
      <button nz-button [nzType]="'primary'" (click)="search()">搜索</button>
      <button nz-button (click)="reset()">清空</button>
    </div>
  </div>
</form>
<nz-table #ajaxTable [nzData]="dataSet" nzShowSizeChanger="false" [nzFrontPagination]="false" [nzLoading]="loading"
  [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="getList()">
  <thead>
    <tr>
      <th>ID</th>
      <th>内容名称</th>
      <th>状态</th>
      <th>内容分类</th>
      <th>创建时间</th>
      <th>创建人</th>
      <!--<th>置顶排序</th>-->
      <th style="min-width: 230px">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td class="id">{{data.Id}}</td>
      <td class="CnContentTitle">{{data.CnContentTitle?data.CnContentTitle:data.EnContentTitle}}</td>
      <td class="StatusName">{{data.StatusName}}</td>
      <td class="CategoryName">{{data.CategoryName}}</td>
      <td class="CreationTime">{{data.CreationTime}}</td>
      <td class="CreatorName">{{data.CreatorName}}</td>
      <!--<td>{{data.TopOrder}}</td>-->
      <td>
        <a href="javascript:;" (click)="view(data.Id)">查看</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a href="javascript:;" (click)="edit(data.Id)">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <!--
        <nz-popconfirm [nzTitle]="'确认删除？'" (nzOnConfirm)="del(data.Id)">
          <a nz-popconfirm>删除</a>
        </nz-popconfirm>
        -->
        <a (click)="showConfirm(data.Id);">删除</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a href="javascript:;" (click)="export(data.Id)">导出</a>
      </td>
    </tr>
  </tbody>
</nz-table>
<form id="exportForm" method="POST" style="display:none">
</form>
<app-wait [(isVisible)]="isWait"></app-wait>
