<nz-table #basicTable [nzData]="cardConfigModelList" [nzLoading]=cardService.loading >
  <thead>
    <tr>
      <th>配置项</th>
      <th>配置项值</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.ConfigItem}}</td>
      <td>{{data.ConfigValue}}</td>
      <td>
        <a (click)="editCardConfig(data)">编辑</a>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isVisible" nzTitle="配置项值" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading">
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-control>
        <input nz-input placeholder="默认值" [(ngModel)]="ConfigValue" formControlName="ConfigValue" [attr.id]="ConfigValue">
         <nz-form-explain *ngIf="validateForm.get('ConfigValue').dirty && validateForm.get('ConfigValue').errors">
            <ng-container *ngIf="validateForm.get('ConfigValue').hasError('maxlength')">
                配置项值字符串长度不能超过500！
            </ng-container>
            <ng-container *ngIf="validateForm.get('ConfigValue').hasError('checkSplitValue')">
                '|'分割后的字符串长度不能超过200！
            </ng-container>
        </nz-form-explain> 
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
