<div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="24">
<nz-form-item>
    <nz-form-label [nzLg]="4" [nzMd]="8" [nzSm]="12" [nzXs]="24" nzFor="nickname">
      应用名称
    </nz-form-label>
    <nz-form-control [nzLg]="20" [nzMd]="16" [nzSm]="12" [nzXs]="24">
      <button nz-button nzType="primary" (click)="showModal()" [disabled]="actionStr=='view'" *ngIf="!isContentCall">选择</button>
      <span>{{selectAgentName}} </span>
      <!-- <span *ngIf="selectAgentName!=null && actionStr!='view'" (click)="deleteApp()"  >X</span> -->

    </nz-form-control>

  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzLg]="4" [nzMd]="8" [nzSm]="12" [nzXs]="24" nzFor="nickname" nzRequired>
      收件人
    </nz-form-label>
    <nz-form-control [nzLg]="20" [nzMd]="16" [nzSm]="12" [nzXs]="24">
      请至少选择一个分组或者收件人
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzLg]="4" [nzMd]="8" [nzSm]="12" [nzXs]="24" nzFor="nickname" >
      选择收件人分组
      <!-- selectedGroup.length>0|| -->
    </nz-form-label>
    <nz-form-control [nzLg]="20" [nzMd]="16" [nzSm]="12" [nzXs]="24">
        <nz-select style="width: 100%;" nzMode="multiple" [(ngModel)]="selectedGroup" nzPlaceHolder="选择收件人分组" 
        nzAllowClear nzShowSearch [nzServerSearch]="true" (nzOnSearch)="ongroupSearch($event)" 
        (ngModelChange)="changegroup($event)" [nzDisabled]="actionStr=='view'">
            <ng-container *ngFor="let o of grouplist" >
              <nz-option *ngIf="!isLoading" [nzValue]="o.value" [nzLabel]="o.name"></nz-option>
            </ng-container>
            <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
              <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
            </nz-option>
          </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzLg]="4" [nzMd]="8" [nzSm]="12" [nzXs]="24" nzFor="nickname" >
      选择单个收件人
      <!-- selectedUser.length>0|| -->
    </nz-form-label>
    <nz-form-control [nzLg]="20" [nzMd]="16" [nzSm]="12" [nzXs]="24" class="chose">  
        <nz-select style="width: 100%" nzMode="multiple" [(ngModel)]="selectedUser" nzPlaceHolder="选择单个收件人" 
        nzAllowClear nzShowSearch [nzServerSearch]="true" (nzOnSearch)="onUserSearch($event)"
         (ngModelChange)="changeuser($event)" [nzDisabled]="actionStr=='view'">
            <ng-container *ngFor="let o of optionList" >
              <nz-option *ngIf="!isLoading" [nzValue]="o.Id" [nzLabel]="o.Name"></nz-option>
            </ng-container>
            <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
              <i class="anticon anticon-loading anticon-spin loading-icon"></i> Loading Data...
            </nz-option>
          </nz-select>
    </nz-form-control>
  </nz-form-item>
</div>
</div>

  <!--选择应用弹出框-->
<nz-modal [(nzVisible)]="isVisible" nzTitle="选择接收消息的应用" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <div  *ngFor="let data of applist;let i = index">
    <div [ngStyle]="{'background-color':selectindex == i ? '#7ac143' : '' }"  (click)="chooseApp(data.AppID,data.Name,i)">{{data.Name}}</div>
  </div>
  </nz-modal>
  <!--选择应用弹出框__End-->