<!-- <p>
  选择考勤用户
</p>
<nz-divider></nz-divider> -->

<form nz-form [formGroup]="validateForm">
  <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="24">
          <nz-tabset>
            <nz-tab nzTitle="部门">
              <nz-tree #regionTree [(ngModel)]="RegionNodes" [nzDefaultCheckedKeys]="checkedDepartKeys" [ngModelOptions]="{standalone: true}" 
              [nzCheckable]="true" [nzMultiple]="true" >
              </nz-tree>
            </nz-tab>

            <nz-tab nzTitle="用户组">
              <nz-table #groupTable [nzData]="GroupDataSet" >
                <tbody>
                  <tr *ngFor="let data of groupTable.data">
                    <td nzShowCheckbox [(nzChecked)]="data.IsChecked"></td>
                    <td>{{data.Name}}</td>
                  </tr>
                </tbody>
              </nz-table>
            </nz-tab>

            <nz-tab nzTitle="人员">
              <div nz-col [nzSpan]="8">
                <nz-tree #regionTree2 [(ngModel)]="RegionNodes2" [ngModelOptions]="{standalone: true}" (nzClick)="clickNode2($event)" >
                </nz-tree>
              </div>
              <div nz-col [nzSpan]="16">
                <nz-table #regionUserTable [nzData]="RegionUserDataSet">
                  <tbody>
                    <tr *ngFor="let data of regionUserTable.data">
                      <td nzShowCheckbox [(nzChecked)]="data.IsChecked"></td>
                      <td>
                        <nz-avatar style="width: 30px; height: 30px" [nzSrc]="data.Photo" ></nz-avatar>
                      </td>
                      <td>{{data.Name}}</td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
            </nz-tab>

            <nz-tab nzTitle="已选人员">
              <nz-table #SelectedCardUsersTable [nzData]="SelectedCardUsersList">
                <thead>
                  <tr>
                    <td>部门</td>
                    <td>工号</td>
                    <td>姓名</td>
                    <td>英文名</td>
                  </tr>
                </thead>
                  <tbody>
                    <tr *ngFor="let data of SelectedCardUsersTable.data">
                      <td >{{data.Department}}</td>
                      <td >{{data.WeChatOpenId}}</td>
                      <td>{{data.Name}}</td>
                      <td>{{data.EnglishName}}</td>
                    </tr>
                  </tbody>
                </nz-table>
            </nz-tab>
          </nz-tabset>

          <nz-form-item nz-row style="margin-bottom:8px;">
            <nz-form-control [nzSpan]="24" [nzOffset]="12">
              <button nz-button nzType="primary" (click)="submitForm()">确定</button>
              <a nz-button [routerLink]="['/card/set']">返回</a>
            </nz-form-control>
          </nz-form-item>
      </div>
  </div>
</form>

