@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

body {
	text-align: center;
	/*background-color:#E8E8E8;*/
}

li {
	list-style-type: none;
}

img {
	border: none;
}

.all {
	width: 960px;
	margin: 0px auto;
	font-family: tahoma, verdana, simsun;
	text-align: left;
}

.top {
	height: 73px;
	/*background-image: url(images/background.jpg);*/
}

.top img {
	float: left;
}

.top a {
	float: right;
	margin: 9px;
}

a:link,a:visited {
	color: #000;
	text-decoration: none;
}

a:hover,a:active {
	color: red;
	text-decoration: underline;
}

.nav {
	height: 36px;
	/*background-image: url(images/background.jpg);*/
	background-repeat: no-repeat;
	background-position: 0px -74px;
}

.nav ul {
	display: inline-block;
	width: 100%;
	height: 36px;
}

.nav li {
	width: 10%;
	height: 100%;
	float: left;
	text-align: center;
	line-height: 36px;
}

.nav a:link,.nav a:visited {
	display: block;
	color: black;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-decoration: none;
	width: 96px;
}

.nav a:hover,.nav a:active {
	background-color: #cc0000;
	font-weight: bold;
	color: #FFFFFF;
}

.banner {
	width: 100%;
	height: 245px;
}

.content {
	width: 100%;
	/*height:600px; */
	/*background-image: url(images/background.jpg);*/
	background-repeat: repeat;
	float: left;
}

.left {
	float: left;
	width: 235px;
	margin-left: 5px;
	padding-top: 10px;
}

.left li {
	margin: 0px 28px 8px 8px;
	font-size: 15px;
}

.Categories {
	list-style-image: url('images/eg_arrow.gif');
	list-style-position: outside;
	margin: 0 0 10px 0;
	padding: 0;
}

.Categories li {
	margin: 0px 0px 0px 36px;
	font-size: 15px;
}

.Categories li a:link,.Categories li a:visited {
	display: block;
	color: #424040;
	width: 150px;
	text-align: left;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
}

.Categories li a:hover,.Categories li a:active {
	background-color: #cc0000;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

.right {
	float: left;
	width: 720px;
	font-size: 15px;
	color: #424040;
}

.right li {
	float: left;
	text-align: center;
	font-size: 14px;
	margin: 7px;
	margin-left: 20px
}

.right li span {
	margin-left: 300px;
}

.right p {
	font-size: 15px;
	color: #424040;
	text-indent: 24px;
	margin: 5px 10px 20px 0px;
}

.right input {
	border: 1px solid #d0cccc;
	width: 200px;
	margin-left: 5px;
}

.product {
	height: 440px
}

.con {
	width: 100%;
	height: 200px;
	overflow: hidden;
	margin: 0 auto 0 auto;
	padding: 5px 0 0 5px;
	text-align: center;
}

.con ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.con ul li {
	float: left;
	margin: 0 5px 15px 0;
	width: 200px;
	height: 185px;
}

.link {
	height: 22px;
	background: #006938;
	padding-left: 200px;
	padding-top: 8px;
}

.link li {
	float: left;
	width: 70px;
}

.footer {
	width: 100%;
	padding: 15px;
	font-size: 12px;
	text-align: center;
	float: left;
}