.m-list-group {
  border-radius: 3px;
  padding: 0;
  margin: 0 0 20px;
}

.m-list-group .m-list-group-item {
  position: relative;
  display: block;
  padding: 3px 10px 3px 28px;
  margin-bottom: -1px;
  background-color: #e7e7e7;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
}

.m-list-group .m-list-group-item:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.m-list-group .m-list-group-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.fullscreen {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  /* background: #F4F5F5; */
  background: white url(../../img/bg.jpg) no-repeat fixed top;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgContainer {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-box {
  position: relative;
  width: 360px;
  margin: 0px 6px 100px;
  padding: 0px 15px;
  background-color: white;
  margin-right: 6%;
  border-radius: 12px;
}

.login-box .logo {
  max-width: 40%;
  margin-bottom: 30px;
}

.login-box .text-tips {
  text-align: center;
  color: #695fcb;
}

.login-box .m-input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.login-box .m-btn {
  font-size: 18px;
  width: 100%;
  color: #fff;
  background-color: #695fcb;
  display: inline-block;
  padding: 9px 12px;
  margin-bottom: 5px;
  line-height: 1.42857143;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-radius: 12px;
  border: 1px solid #695fcb;
  box-sizing: border-box;
  text-decoration: none;
  height: 44px
}

.login-box .m-btn.m-btn-text {
  background: #fff;
  color: #36C1FA;
}

.login-box .m-btn:hover {
  background-color: #9370DB;
}

.login-box .m-btn.m-btn-text:hover {
  background-color: #F4F5F5;
}

.login-box .m-btn:active {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .login-box {
    width: auto;
  }
}

.el-icon-name {
  background-image: url(../../img/name.png);
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.el-icon-pwd {
  background-image: url(../../img/pwd.png);
  background-size: 100% 60%;
  background-repeat: no-repeat;
  background-position: center;
}
