<form nz-form [formGroup]="searchForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="Department">部门</nz-form-label>
        <nz-form-control>
          <input nz-input [formControlName]="'Department'" [(ngModel)]="Department" [attr.id]="Department">
          <nz-form-explain *ngIf="searchForm.get('Department').dirty && searchForm.get('Department').errors">
            <ng-container *ngIf="searchForm.get('Department').hasError('maxlength')">
              部门字符串长度不能超过50！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

    </div>
     <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="Region">打卡规则</nz-form-label>
        <nz-form-control>
          <input nz-input [formControlName]="'Region'" [(ngModel)]="Region" [attr.id]="Region">
          <nz-form-explain *ngIf="searchForm.get('Region').dirty && searchForm.get('Region').errors">
            <ng-container *ngIf="searchForm.get('Region').hasError('maxlength')">
              打卡规则字符串长度不能超过50！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div> 

    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="Name">员工姓名</nz-form-label>
        <nz-form-control>
          <input nz-input [formControlName]="'Name'" [(ngModel)]="Name" [attr.id]="Name">
          <nz-form-explain *ngIf="searchForm.get('Name').dirty && searchForm.get('Name').errors">
            <ng-container *ngIf="searchForm.get('Name').hasError('maxlength')">
              员工姓名字符串长度不能超过500！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

   <div nz-row [nzGutter]="24" *ngIf="!ishidden" >
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="'startTime'">更新时间</nz-form-label>
        <nz-form-control>
          <nz-date-picker [formControlName]="'startTime'" [(ngModel)]="startTime" id="startTime"></nz-date-picker>
          <nz-form-explain *ngIf="searchForm.get('startTime').dirty && searchForm.get('startTime').errors">
              <ng-container *ngIf="searchForm.get('startTime').hasError('required')">
                  请选择更新时间
              </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="'endTime'">至</nz-form-label>
        <nz-form-control>
          <nz-date-picker [formControlName]="'endTime'"  [(ngModel)]="endTime" id="endTime"></nz-date-picker>
          <nz-form-explain *ngIf="searchForm.get('endTime').dirty && searchForm.get('endTime').errors">
              <ng-container *ngIf="searchForm.get('endTime').hasError('endTime')">
                  请选择更新时间
              </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
     <div nz-col [nzSpan]="8">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="state">状态</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="state" [(ngModel)]="state" id="state">
            <nz-option *ngFor="let option of listOfState" [nzLabel]="option.Typename" [nzValue]="option.ID">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div> 
  </div> 
  <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <button nz-button [nzType]="'primary'"  (click)="export()">导出报表和明细</button>
      </div>
      <div nz-col [nzSpan]="16" style="text-align: right;">
        <a style="margin-left:8px;font-size:12px;" (click)="toggleCollapse()">
          {{searchbtn_name}}
          <i class="anticon" [class.anticon-down]="isCollapse" [class.anticon-up]="!isCollapse"></i>
        </a>  
        <button nz-button [nzType]="'primary'" (click)="GetPageRecordList()">搜索</button>
        <button nz-button (click)="resetForm()">清空</button>
      </div>
  </div> 
</form>

<nz-table #ajaxTable [nzData]="dataSet" nzShowSizeChanger="false" [nzFrontPagination]="false" [nzLoading]="loading"
  [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="GetPageRecordList()">
  <thead>
    <tr>
      <th>时间</th>
      <th>部门</th>
      <th>工号</th>
      <th>姓名</th>
      <th>打卡规则</th>
      <th>打卡类型</th>
      <th>打卡时间</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td>{{data.Date}}</td>
      <td>{{data.Department}}</td>
      <td>{{data.WeChatOpenId}}</td>
      <td>{{data.Name}}</td>
      <td class="Department">{{data.Region}}</td>
      <td>{{data.Type}}</td>
      <td>{{data.Time}}</td>
      <td [ngClass]="data.State=='异常'?'red':''">{{data.State}}</td>
      <td>
        <a (click)="GetDetail(data.Id)">查看</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<!--用户详情-->
<nz-modal [(nzVisible)]="IsVisible" nzTitle="查看打卡记录" nzWidth="900px" [nzFooter]=null (nzOnCancel)="closeModal()" nzMaskClosable="false">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="24">{{cardRecordDetail.Date}}</div>
  </div>
  <nz-divider></nz-divider>
  <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8">
        <nz-avatar style="width: 64px; height: 64px" [nzSrc]="cardRecordDetail.Photo" >
        </nz-avatar>
      </div>
      <div nz-col [nzSpan]="16">
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="24">{{cardRecordDetail.Name}} {{cardRecordDetail.EnglishName}}</div>
        </div>
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="24">部门：{{cardRecordDetail.Department}}</div>
        </div>
      </div>
  </div>
  <div nz-row [nzGutter]="24">
    <nz-table [nzData]="[1]" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>打卡类型</th>
          <th>打卡时间</th>
          <th>打卡地点</th>
          <th>备注</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{cardRecordDetail.Type}}</td>
          <td>{{cardRecordDetail.Time}}</td>
          <td>{{cardRecordDetail.Address}}</td>
          <td>{{cardRecordDetail.Remark}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-modal>


