<!--
  后台用户列表页
  add by Colin
-->
<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8" [style.display]="'block'">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="'SearchAD'">账户</nz-form-label>
        <nz-form-control>
          <!-- 下面的单引号不可省略，否则表单对象找不到对应的表单控件 -->
          <input nz-input [formControlName]="'SearchAD'" [attr.id]="'SearchAD'">
          <nz-form-explain *ngIf="validateForm.get('SearchAD').dirty && validateForm.get('SearchAD').errors">
            <ng-container *ngIf="validateForm.get('SearchAD').hasError('maxlength')">
              账户字符串长度不能超过30！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [style.display]="'block'">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="'SearchName'">姓名</nz-form-label>
        <nz-form-control>
          <input nz-input [formControlName]="'SearchName'" [attr.id]="'SearchName'">
          <nz-form-explain *ngIf="validateForm.get('SearchName').dirty && validateForm.get('SearchName').errors">
            <ng-container *ngIf="validateForm.get('SearchName').hasError('maxlength')">
              姓名字符串长度不能超过100！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [style.display]="'block'">
      <nz-form-item nzFlex>
        <nz-form-label>角色</nz-form-label>
        <nz-form-control>
          <nz-select [(ngModel)]="selectedRole" nzPlaceHolder="" 
            nzAllowClear  [formControlName]="'searchRole'">
            <nz-option *ngFor="let r of roleList" [nzValue]="r" [nzLabel]="r.RoleName"></nz-option>
            <nz-option *ngIf="isRoleLoading" nzDisabled nzCustomContent>
              <i class="anticon anticon-loading anticon-spin loading-icon"></i> 数据加载中...
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="24" *ngIf="isAdvancedSearch">
    <div nz-col [nzSpan]="8" [style.display]="'block'">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="'SearchEmail'">邮箱</nz-form-label>
        <nz-form-control>
          <input nz-input [formControlName]="'SearchEmail'" [attr.id]="'SearchEmail'">
          <nz-form-explain *ngIf="validateForm.get('SearchEmail').dirty && validateForm.get('SearchEmail').errors">
            <ng-container *ngIf="validateForm.get('SearchEmail').hasError('maxlength')">
              邮箱字符串长度不能超过255！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" [style.display]="'block'">
      <nz-form-item nzFlex>
        <nz-form-label [nzFor]="'SearchDept'">部门</nz-form-label>
        <nz-form-control>
          <input nz-input [formControlName]="'SearchDept'" [attr.id]="'SearchDept'">
          <nz-form-explain *ngIf="validateForm.get('SearchDept').dirty && validateForm.get('SearchDept').errors">
            <ng-container *ngIf="validateForm.get('SearchDept').hasError('maxlength')">
              部门字符串长度不能超过100！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <button nz-button [nzType]="'primary'" (click)="addUser()">新增</button>
    </div>
    <div nz-col [nzSpan]="16" style="text-align: right;">
      <a (click)="showSearch()">{{isAdvancedSearch?'快捷检索':'高级检索'}}<i class="anticon anticon-down"></i></a>
      <button nz-button [nzType]="'primary'" (click)="searchUsers()">搜索</button>
      <button nz-button (click)="resetForm()">清空</button>
    </div>
  </div>
</form>
<!-- 别名不可以和变量同名 -->
<nz-table #ajaxUsers [nzData]="users" nzShowSizeChanger="false" [nzFrontPagination]="false" [nzLoading]="loading"
  [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="getUserList()">
  <thead>
    <tr>
      <th>ID</th>
      <th>账户</th>
      <th>姓名</th>
      <th>邮箱</th>
      <th>部门</th>
      <th>角色</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxUsers.data">
      <td class="id">{{data.Id}}</td>
      <td class="CnContentTitle">{{data.AD}}</td>
      <td>{{data.Name}}</td>
      <td class="Email">{{data.Email}}</td>
      <td>{{data.Department}}</td>
      <td class="Email">{{data.RoleName}}</td>
      <td>{{data.IsDisabled?'禁用':'正常'}}</td>
      <td>
        <a (click)="editUser(data.Id, data.AD, data.ChrisID, data.RoleId, data.IsDeptManager, data.IsDisabled, data.LanguageId)">编辑</a>
        <!--
        <nz-divider nzType="vertical"></nz-divider>
        <nz-popconfirm [nzTitle]="'确认删除？'" (nzOnConfirm)="deleteUser(data.Id)">
          <a nz-popconfirm>删除</a>
        </nz-popconfirm>
        -->
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isVisible" nzTitle="添加后台用户" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading"
  nzMaskClosable="false">
  <div nz-row [nzGutter]="24">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24"><span style="color:red">*</span>域帐号</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
        <input nz-input placeholder="请输入" [(ngModel)]="txtAD" maxlength="30" [disabled]="isReadOnly">
        <span class="errorMsg">{{txtADError}}</span>
    </nz-form-control>
  </nz-form-item>   
  <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24"><span style="color:red">*</span>员工号</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24">
          <input nz-input placeholder="请输入" [(ngModel)]="txtChrisID" maxlength="50" [disabled]="isReadOnly">
          <span class="errorMsg">{{txtChrisIDError}}</span>
      </nz-form-control>
  </nz-form-item>       
  <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24"><span style="color:red">*</span>角色</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24">
          <nz-select [(ngModel)]="selectedRoleModal" nzPlaceHolder="" nzAllowClear [style.width]="'100%'">
              <nz-option *ngFor="let r of roleList" [nzValue]="r" [nzLabel]="r.RoleName"></nz-option>
              <nz-option *ngIf="isRoleModalLoading" nzDisabled nzCustomContent>
                <i class="anticon anticon-loading anticon-spin loading-icon"></i> 数据加载中...
              </nz-option>
            </nz-select>
            <span class="errorMsg">{{selectedRoleError}}</span>
      </nz-form-control>
  </nz-form-item>    
  <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">部门管理员</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24">
          <nz-radio-group [(ngModel)]="isDeptManager">
              <label nz-radio nzValue="1">是<span style="visibility: hidden;">的</span></label>
              <label nz-radio nzValue="0">否</label>
            </nz-radio-group>
      </nz-form-control>
  </nz-form-item>    
  <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">状态</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24">
          <nz-radio-group [(ngModel)]="isDisabled">
              <label nz-radio nzValue="0">启用</label>
              <label nz-radio nzValue="1">禁用</label>
            </nz-radio-group>
      </nz-form-control>
  </nz-form-item> 
</div>
  <!--
  <span style="color:red">*</span><label>语言环境</label>
  <nz-radio-group [(ngModel)]="languangeId">
    <label nz-radio nzValue="1">英文</label>
    <label nz-radio nzValue="2">中文</label>
  </nz-radio-group>
  -->
</nz-modal>
