<!--
  内容类型列表模板页
  add by Colin
-->
<nz-table #ajaxTable [nzData]="dataSet" nzShowSizeChanger="false" [nzFrontPagination]="false" [nzLoading]="loading"
  [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="getList()">
  <thead>
    <tr>
      <th>分类ID</th>
      <th>内容分类名称</th>
      <th>关联模板</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td>{{data.CategoryID}}</td>
      <td>{{data.NameCn}}</td>
      <td>{{data.TemplateTypeName}}</td>
      <td>{{data.CreationTime}}</td>
      <td>
        <a href="javascript:;" (click)="edit(data.CategoryID, data.NameCn, data.NameEn)">编辑</a>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isEditModalVisible" nzTitle="分类信息" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading" nzMaskClosable="false">
  <label style="margin-right: 30px;">分类中文名称</label>
  <input nz-input [(ngModel)]="txtNameCH" style="width: 80%" maxlength="50">
  <span class="errorMsg">{{txtNameCHError}}</span>
  <br>
  <label style="margin-right: 30px;">分类英文名称</label>
  <input nz-input [(ngModel)]="txtNameEN" style="width: 80%" maxlength="50">
  <span class="errorMsg">{{txtNameENError}}</span>
  <br>
</nz-modal>
