<!--
  角色列表页
  add by Colin
-->
<div nz-row>
  <div nz-col [nzSpan]="24">
    <button nz-button [nzType]="'primary'" (click)="addRole()">新增</button>
  </div>
</div>
<!-- 别名不可以和变量同名 -->
<nz-table #roleTable [nzData]="roleList" nzShowSizeChanger="false" [nzFrontPagination]="false" [nzLoading]="loading"
  [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="getRoleList()">
  <thead>
    <tr>
      <th>ID</th>
      <th>角色名称</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of roleTable.data">
      <td class="id">{{data.ID}}</td>
      <td>{{data.RoleName}}</td>
      <td>{{data.CreationTime}}</td>
      <td>
        <a (click)="editRole(data.ID, data.RoleName)">编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <!-- <nz-popconfirm [nzTitle]="'确认删除？'" (nzOnConfirm)="delRole(data.ID)">
          <a nz-popconfirm>删除</a>
        </nz-popconfirm> -->
        <a (click)="showConfirm(data.ID);">删除</a>
      </td>
    </tr>
  </tbody>
</nz-table>
