<!--
  内容编辑模板页面
  add by Colin
-->
<!-- 内容编辑页 -->
<nz-tabset [style.display]="isShow?'':'none'" [(nzSelectedIndex)]="selectedIndex">
  <nz-tab nzTitle="内容">
    <div nz-row>
      <div nz-col>
        <nz-form-item nzFlex>
          <nz-form-label>中文标题</nz-form-label>
          <nz-form-control [style.width]="'100%'">
            <nz-input-group #titleCnNode [nzAddOnAfter]="titleCnWords">
              <input nz-input [(ngModel)]="titleCn" maxlength="40" [disabled]="isReadonly"
               [class.errorInput]="titleCnError"  
                (keyup)="commonService.changeWords(titleCn, titleCnNode, 40)">
            </nz-input-group>
            <span class="errorMsg">{{titleCnError}}</span>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col>
        <nz-form-item nzFlex>
          <nz-form-label>英文标题</nz-form-label>
          <nz-form-control [style.width]="'100%'">
            <nz-input-group #titleEnNode [nzAddOnAfter]="titleEnWords">
              <input nz-input [(ngModel)]="titleEn" maxlength="40" [disabled]="isReadonly"
              [class.errorInput]="titleEnError"  
              (keyup)="commonService.changeWords(titleEn, titleEnNode, 40)">
            </nz-input-group>
            <span class="errorMsg">{{titleEnError}}</span>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div *ngIf="[1,3].includes(templateType)">
      <div nz-row>
        <div nz-col>
          <label nz-checkbox [(ngModel)]="isSendMsg" [nzDisabled]="isReadonly">直接发送微信信息</label>
        </div>
      </div>
      <div nz-row [style.display]="isSendMsg?'':'none'">
        <div nz-col>
          <nz-form-item nzFlex>
            <nz-form-label>消息封面</nz-form-label>
            <nz-form-control [style.width]="'100%'">
              <label>图片尺寸建议900像素*500像素</label>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [style.display]="isSendMsg?'':'none'">
        <nz-upload class="avatar-uploader" nzAction="{{uploadPath}}" nzName="avatar" nzFileType="image/png,image/jpeg,image/gif,image/bmp"
          nzAccept="image/bmp,image/gif,image/png,image/jpeg" nzSize="10240" nzListType="picture-card" [nzDisabled]="isReadonly"
          [nzShowUploadList]="false" [nzBeforeUpload]="beforeUpload" (nzChange)="handleChange($event)">
          <ng-container *ngIf="!avatarUrl">
            <i class="anticon anticon-plus"></i>
            <div class="ant-upload-text"></div>
          </ng-container>
          <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar" style="max-width: 900px">
        </nz-upload>
        <span class="errorMsg">{{messageCoverError}}</span>
      </div>
      <div nz-row [style.display]="isSendMsg?'':'none'">
        <div nz-col>
          <nz-form-item nzFlex>
            <nz-form-label>中文摘要</nz-form-label>
            <nz-form-control [style.width]="'100%'">
              <nz-input-group #summaryCnNode [nzAddOnAfter]="summaryCnWords">
                <input nz-input [(ngModel)]="summaryCn" maxlength="160" [disabled]="isReadonly"
                  [class.errorInput]="summaryCnError"  
                  (keyup)="commonService.changeWords(summaryCn, summaryCnNode, 160)">
              </nz-input-group>
              <span class="errorMsg">{{summaryCnError}}</span>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row [style.display]="isSendMsg?'':'none'">
        <div nz-col>
          <nz-form-item nzFlex>
            <nz-form-label>英文摘要</nz-form-label>
            <nz-form-control [style.width]="'100%'">
              <nz-input-group #summaryEnNode [nzAddOnAfter]="summaryEnWords">
                <input nz-input [(ngModel)]="summaryEn" maxlength="160" [disabled]="isReadonly" 
                  [class.errorInput]="summaryEnError"  
                  (keyup)="commonService.changeWords(summaryEn, summaryEnNode, 160)">
              </nz-input-group>
              <span class="errorMsg">{{summaryEnError}}</span>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
    <div *ngIf="[2].includes(templateType)">
      <div nz-row>
        <div nz-col>
          <nz-form-item nzFlex>
            <nz-form-label>内容封面</nz-form-label>
            <nz-form-control [style.width]="'100%'">
              <label>图片尺寸建议300像素*200像素</label>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <nz-upload class="avatar-uploader" nzAction="{{uploadPath}}" nzName="avatar" nzFileType="image/png,image/jpeg,image/gif,image/bmp"
          nzAccept="image/bmp,image/gif,image/png,image/jpeg" nzSize="10240" nzListType="picture-card" [nzDisabled]="isReadonly"
          [nzShowUploadList]="false" [nzBeforeUpload]="beforeUpload" (nzChange)="handleChange($event)">
          <ng-container *ngIf="!avatarUrl">
            <i class="anticon anticon-plus"></i>
            <div class="ant-upload-text"></div>
          </ng-container>
          <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar" style="max-width: 300px">
        </nz-upload>
        <span class="errorMsg">{{contentCoverError}}</span>
      </div>
    </div>
    <div>
      <nz-tabset>
        <nz-tab nzTitle="中文内容">
          <e-ngx-editor #editorCh [(ngModel)]="contentCh" (ready)="editorReady(editorCh, $event, 1)">
          </e-ngx-editor>
        </nz-tab>
        <nz-tab nzTitle="英文内容">
          <e-ngx-editor #editorEn [(ngModel)]="contentEn" (ready)="editorReady(editorEn, $event, 2)">
          </e-ngx-editor>
        </nz-tab>
      </nz-tabset>
      <span class="errorMsg" style="display:inline">{{contentChError}}</span>
      <span class="errorMsg" style="display:inline">{{contentEnError}}</span>
    </div>
    <div nz-row [nzGutter]="24" *ngIf="[1,2].includes(templateType)">
      <div nz-col [nzSpan]="8" [style.display]="'block'">
        <nz-form-item nzFlex>
          <nz-form-label [style.width]="'20%'">内容标签</nz-form-label>
          <nz-form-control [style.width]="'80%'">
            <nz-select [(ngModel)]="selectedTag" nzMode="multiple" nzPlaceHolder="请选择" 
              nzAllowClear  [nzDisabled]="isReadonly">
              <nz-option *ngFor="let c of tagList" [nzValue]="c.Id" [nzLabel]="c.Name"></nz-option>
              <nz-option *ngIf="isTagLoading" nzDisabled nzCustomContent>
                <i class="anticon anticon-loading anticon-spin loading-icon"></i> 数据加载中...
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="8" [style.display]="'block'">
        <nz-form-item nzFlex>
          <nz-form-label [style.width]="'20%'">内容分类</nz-form-label>
          <nz-form-control [style.width]="'80%'">
            <input nz-input [(ngModel)]="contentType" readonly [disabled]="isReadonly">
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8" [style.display]="'block'" *ngIf="[1,2].includes(templateType)">
        <nz-form-item nzFlex>
          <nz-form-control>
            <label nz-checkbox [(ngModel)]="isPraise" [nzDisabled]="isReadonly">可以点赞</label>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8" [style.display]="'block'" *ngIf="[1,2].includes(templateType)">
        <nz-form-item nzFlex>
          <nz-form-control>
            <label nz-checkbox [(ngModel)]="isEnableComment" [nzDisabled]="isReadonly">可以评论</label>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="收件人" *ngIf="isSendMsg">
    <app-addressee [selectAgentName]="contentType" [isContentCall]="true" [actionStr]="isReadonly?'view':''"></app-addressee>
  </nz-tab>
</nz-tabset>
<div nz-row [nzGutter]="24">
  <div nz-col [nzSpan]="16" [style.display]="'block'"></div>
  <div nz-col [nzSpan]="8" [style.display]="'block'">
    <button nz-button (click)="watch()">预览</button>
    <button nz-button [nzType]="'primary'" (click)="save()" *ngIf="!isReadonly" [disabled]="isSaving">保存</button>
    <button nz-button [nzType]="'primary'" (click)="send()" *ngIf="!isReadonly" [disabled]="isSaving">发布</button>
    <button nz-button (click)="handleCancel(false)" *ngIf="contentId>0">返回</button>
  </div>
</div>
<!-- “选择内容分类”模态框 -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="选择内容分类" (nzOnCancel)="handleCancel(true)" (nzOnOk)="handleOk()" [nzOkLoading]="isOkLoading"
  nzMaskClosable="false">
  <label style="margin-right: 30px;">内容分类</label>
  <nz-select style="width: 100%;" [(ngModel)]="selectedType" nzPlaceHolder="全部" nzAllowClear>
    <nz-option *ngFor="let c of categoryList" [nzValue]="c.CategoryID" [nzLabel]="c.NameCn"></nz-option>
    <nz-option *ngIf="isTypeLoading" nzDisabled nzCustomContent>
      <i class="anticon anticon-loading anticon-spin loading-icon"></i> 数据加载中...
    </nz-option>
  </nz-select>
  <br>
  <label style="margin-right: 30px;">&lt;请选择内容分类&gt;</label>
  <br>
</nz-modal>
